<h1><%= @user.username.capitalize %></h1>
<img src="<%= @user.avatar_url %>" alt="">

<h2>Teacher Bio</h2>
<p><%= @user.teacher_bio %></p>

<h2>Instruments</h2>
<% @user.instruments.each do |instrument| %>
  <p><%= instrument.name %></p>
<% end %>
